body {
    background-color: #c79221d0;
    padding: 50px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.container{
    margin: 0 auto;
    width: 80%;
    padding: 0;
}

img {
    /* background-color: rgb(224, 224, 224); */
    width: 5rem;
    height: 5rem;
}

.text-center{
    font-size: 50px;
}

.input-group{
    margin-top: 50px;
}

.rounded{
    border-radius: 0px!important;
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}

.rounded:focus{
    box-shadow: 0px 0px 0px;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #363533;
}    

.btn-outline-primary:focus{
    border: 0px solid black;
}

.btn{
    border: 0px;
    background-color: #E6D5B8;
    color: black;
}

.oggi{
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    width: 20%;
    margin: 20px auto;
    padding: 20px 10px;
}

.row{
    border: 1px solid black;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.row>*{
    padding: 0;
    text-align: center;
}

.cards{
    margin: 0 auto;
}

.card {
    display: inline-block;
    margin: 0 20px;
    width: 20%;
}

#meteoAttuale {
    width: 100%;
    margin: 0;
    text-align: center;
}

#meteoAttuale h2{
    font-size: 25px;
    color: rgb(216, 216, 216);
    margin-bottom: 20px;
}

#meteoAttuale img{
    margin-bottom: 20px;
}

#meteoAttuale p{
    color: rgb(216, 216, 216);
    margin-bottom: 0px;
}

.card h2{
    font-size: 30px;
}