*{
    box-sizing: border-box;
}

body{
    padding: 80px 50px;
}

.container{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    border: 1px solid black;
}

h1{
    text-align: center;
    margin: 0;
}

.input-group{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

#addon-wrapping:hover{
    background-color: rgb(187, 187, 187);
    cursor: pointer;
}

.card{
    display: inline-block;
}